
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}



.container {
  border-radius: 5px;
  background-color:transparent;
  padding: 50px;
  color:yellow;
}

.navbar ul li a{
  text-decoration:none;
color:white;
text-transform:uppercase;
  }
  .logo{
    width:100px;

  }
  .navbar ul li{
    list-style:none;
    display:inline-block;
    margin:0 20px;
    color: yellow;
    font-weight:bold;

  }
  .navbar ul li:hover{
    color:red;
  }
  .bannersection{
  width: 90%;
  height:90%;

  }
  .navbar{
  width:90%;
  margin:auto;
  padding:0px 0px;
  display: flex;
  align-items:center;
  justify-content:space-between;
  }
  body{
    background-image: url('gun.jpg');
    background-size: cover;
  }
